/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 html,body{
 	font-family: 'Lato', sans-serif;
 	color:#ffffff;
 	height: 100%;
 	text-align: center;
 	margin-left: 0px;
 	margin-right: 0px;
 }
 footer{
 	margin-top: 10px;
 	padding-top: 10px;
 	background: #5b245a;
    width:100%;
    position:fixed;
    bottom:0px;


 	/*padding-top: 10px;
 	background-color: #5b245a;
 	text-align:center;
 	position:fixed;
 	bottom:0;
 	width:1278px;
 	left:50%;
 	margin-left: -639px;*/

 }
 .contacto_minimizado{
 	margin:0px auto;
 	cursor: pointer;
 }
 
 .info{
 	text-align: left;
 	padding-left: 5px;
 	vertical-align: middle;
 	font-weight: lighter;
 	font-size: 14px;
 }

 .contacto_maximizado{
 	witdh:100%;
 	height: 0px;
 	display:none;
 	margin-top:10px;
 	margin-bottom: 10px;
 }
 .contacto_maximizado table{
 	margin: 0 auto;
 	border-spacing: 0px;
 }
 .nombre{
 	text-align: left;
 }
 .borde{
 	border-right: 1px solid;
 	border-color: white;
 }
 .borde_degradado{
 	border-right: 1px solid;
 	border-left:0px;
    border-image:
      linear-gradient(to bottom,white, rgba(91, 36, 90, 1)) 1 100%;
 }
  .borde_degradado_top{
 	border-right: 1px solid;
 	border-left:0px;
    border-image:
      linear-gradient(to top,white, rgba(91, 36, 90, 1)) 1 100%;
 }
 .pleft{
 	padding-left: 20px;
 }
 .pright{
 	padding-right:20px;
 }
 .iconos{
 	margin-top: 1px;
 }
 .main{
 	position: absolute;
 }
#direccion{
	border-top: 2px solid;
	border-color:white; 
	margin:15px 0 10px 0;
}